---
import ProjectCard from "@/components/common/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { projects } from "@/utils/projects"

const title = "Projects";
const Description ="Discover my latest projects showcasing expertise in web development, software engineering, and UI/UX design. Explore innovative solutions and real-world applications.";

const defaultLimit = 2;

const processedProjects = projects.map((project, index) => ({
  ...project,
  loading: index < defaultLimit ? "eager" : "lazy", 
}));
---

<BaseLayout title={title} description={Description} >
   <section class="relative flex flex-col items-center justify-center min-h-[calc(100vh-12rem)] md:min-h-[calc(100vh-9.8rem)] px-6 py-8">
    <h1 class="text-4xl font-bold text-primary font-nis-m9-condensed">MY PROJECTS</h1>
    <div class="mt-10 flex-col">
      {processedProjects.map((project) => (
        <ProjectCard
          title={project.title}
          year={project.year}
          tags={project.tags}
          repoLink={project.repoLink}
          demoLink={project.demoLink}
          image={project.image}
          loading={project.loading}
        >
          {project.subtitle && <p slot="subtitle" class="font-times-new-roman-mt-condensed-regular">{project.subtitle}</p>}
          {project.description && <div slot="description" class="font-times-new-roman"><p>{project.description}</p></div>}
        </ProjectCard>
      ))}
    </div>
  </section>
</BaseLayout>


