---
interface Props {
  title: string;
  description?: string;
  canonical?: string;
  ogImage?: string;
}

const siteName = import.meta.env.PUBLIC_SITE_NAME || "Bagus Website";
const defaultDesc = "Full-Stack Software Engineer specializing in Java, .NET Core, Laravel, React, and Tailwind CSS. Passionate about building scalable and efficient web applications with automation and cloud technologies.";
const siteURL = Astro.site;

const canonical = Astro.props.canonical || siteURL;
const documentTitle = `${Astro.props.title} | ${siteName}`;
const documentDescription = Astro.props.description || defaultDesc;
const ogImage = Astro.props.ogImage || `${siteURL}/images/ogimage.png`;
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{documentTitle}</title>
  <meta name="description" content={documentDescription} />
  <meta property="og:title" content={documentTitle} />
  <meta property="og:description" content={documentDescription} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonical} />
  <link rel="canonical" href={canonical} />
  <link rel="icon" href="/favicon.svg?v=2" type="image/svg" />
</head>